# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/packages
*.suo
*.ncrunchproject
*.nupkg
*.user

/TestDatabaseProvider/bin/Debug
/TestDatabaseProvider/obj/Debug
/TestDatabaseProvider/obj/Release
/TestDatabaseProvider/bin/Release/nugetpack
/TTRider.TestDatabaseProvider/obj/Release
/Tests/bin/Release/netcoreapp1.0
/Tests/obj/Release/netcoreapp1.0
